body {
    padding-top: 5rem;
}
.main{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}

.picture{
    width: 400px;
    height: 450px;
}

img{
    width: 100%;
    height: 100%;
    padding: 30px;
}